/*
General styles for CSS.
*/

/*GENERAL STYLES*/
html{
    scroll-behavior: smooth;
  }
  
  body{
    background: var(--clr-partial-light);
    color: var(--clr--dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
  }
  
  img{
    display: block;
    max-width: 100%;
  }
  
  section{
    padding: 5em 2em;
  }
  
  strong{
    font-weight: var(--fw-bold);
  }
  
  h1,h2,h3{
    line-height: 1.1;
    margin: 0;
  }
  
  h1{
    font-size: var(--fs-h1);
  }
  
  h2{
    font-size: var(--fs-h2);
  }
  
  h3{
    font-size: var(--fs-h3);
  }
  
  a{
      color: var(--link-color);
      text-decoration: none;
      transition:
          transform .5ms cubic-bezier(.5,0,.5,1),
          opacity 250ms linear;
  }
  
  a:hover{
      color: var(--link-color-hover);
      text-decoration: underline;
  }

  ::selection {
    background: #81CE83;
  }

  /*GENERAL STYLES*/